apiVersion: v1
kind: ServiceAccount
metadata:
  name: orders
---
apiVersion: v1
kind: Service
metadata:
  name: orders
spec:
  selector:
    app: orders
  ports:
  - port: 9004
    targetPort: 9004
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: orders
  name: orders
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orders
  template:
    metadata:
      annotations:
        'consul.hashicorp.com/connect-inject': 'true'
      labels:
        app: orders
    spec:
      containers:
      - name: orders
        image: weshigbee/consul2-orders
        ports:  
        - containerPort: 9004